@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";

  --animate-overlayShow: overlayShow 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-overlayHide: overlayHide 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-contentShow: contentShow 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-contentHide: contentHide 0.25s cubic-bezier(0.16, 1, 0.3, 1);

  --animate-slideUpAndFadeIn: slideUpAndFadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideDownAndFadeIn: slideDownAndFadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideLeftAndFadeIn: slideLeftAndFadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideRightAndFadeIn: slideRightAndFadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideDownAndFadeOut: slideDownAndFadeOut 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideUpAndFadeOut: slideUpAndFadeOut 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideLeftAndFadeOut: slideLeftAndFadeOut 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideRightAndFadeOut: slideRightAndFadeOut 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  --animate-slideUp: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideDown: slideDown 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  --animate-scaleUp: scaleUp 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-scaleDown: scaleDown 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  --animate-openSelect: openSelect 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-closeSelect: closeSelect 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes openSelect {
    from {
      transform-origin: top;
      transform: scale(0.8) translateY(-25px);
      opacity: 0;
    }
    to {
      transform-origin: top;
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }

  @keyframes closeSelect {
    from {
      transform-origin: top;
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
    to {
      transform-origin: top;
      transform: scale(0.8) translateY(-25px);
      opacity: 0;
    }
  }

  @keyframes scaleUp {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes scaleDown {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes overlayHide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translateY(24px) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }

  @keyframes contentHide {
    from {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(24px) scale(0.96);
    }
  }

  @keyframes slideUpAndFadeIn {
    from {
      opacity: 0;
      transform: translateY(10px) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  @keyframes slideDownAndFadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  @keyframes slideLeftAndFadeIn {
    from {
      opacity: 0;
      transform: translateX(10px) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
  
  @keyframes slideRightAndFadeIn {
    from {
      opacity: 0;
      transform: translateX(-10px) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
  
  @keyframes slideDownAndFadeOut {
    from {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(10px) scale(0.96);
    }
  }
  
  @keyframes slideUpAndFadeOut {
    from {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(-10px) scale(0.96);
    }
  }
  
  @keyframes slideLeftAndFadeOut {
    from {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
    to {
      opacity: 0;
      transform: translateX(-10px) scale(0.96);
    }
  }
  
  @keyframes slideRightAndFadeOut {
    from {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
    to {
      opacity: 0;
      transform: translateX(10px) scale(0.96);
    }
  }
  
  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .grid_item_border {
    @apply z-0 before:content-[''] before:absolute before:bg-neutral-600 before:z-[1] 
           after:content-[''] after:absolute after:bg-neutral-600 after:z-[1] 
           before:w-px before:h-screen before:left-[-2px] before:top-0 
           after:w-screen after:h-px after:left-0 after:top-[-2px];
  }
}
